{% extends 'neo/base.html' %}

<head>



</head>
<body>


 {% block body_block %}
 <div class="row">
  <div id='chart' class='span4 col-md-12'>
    <h3>Bar chart</h3>
    <svg style='height:500px;width:700px'> </svg>
  </div>

</div>
  <script>
  nv.addGraph(function() {
  var chart = nv.models.discreteBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return d.value })
      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
      .showValues(true)       //...instead, show the bar value right on top of each bar.
    ;

  d3.select('#chart svg')
      .datum(data())
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
});

  function data(){

    return [
      {
        key:"Packet Data",
        values:[
          {% for t in res %}
           {
             "label":"{{ t.date }}",
             "value": {{ t.packetDataKb }}

           },
           {% endfor %}
        ]
      }
    ]

  }
  </script>
{% endblock %}


</body>
