{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>


      <title>AERO-TRAFFIC SUMMARY</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static "/js/d3.min.js" %}"></script>
    <script src="{% static "/js/nv.d3.min.js" %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>




  </head>

  <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AERO-TRAFFIC SUMMARY</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/neo/pie">Pie Chart</a></li>
              <li><a href="/neo/barchart">Bar Chart</a></li>


          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    <div class="container-fluid">


         {% block body_block %}


	{% endblock %}



      </div>
    </div>




  </body>
</html>
