{% extends 'neo/base.html' %}

<head>



</head>
<body>


 {% block body_block %}
 <div class="row">
  <div id='chart' class='span4 col-md-6'>
    <h3>Regular pie chart</h3>
    <svg style='height:500px;width:400px'> </svg>
  </div>
  <div id='chart2' class='span4 col-md-6'>
  <h3>  Donut chart</h3>
    <svg style='height:500px;width:400px'> </svg>
  </div>
</div>
  <script>
  //Regular pie chart example

  nv.addGraph(function() {
  var chart = nv.models.pieChart()
    .x(function(d) { return d.label })
    .y(function(d) { return d.value })
    .showLabels(true);

  d3.select("#chart svg")
      .datum(
        [
           {% for t in res %}
            {
              "label":"{{ t.date }}",
              "value": {{ t.packetDataKb }}

            },
            {% endfor %}
        ])

      .transition().duration(350)
      .call(chart);

  return chart;
})

  //Donut chart example
  nv.addGraph(function() {
  var chart = nv.models.pieChart()
    .x(function(d) { return d.label })
    .y(function(d) { return d.value })
    .showLabels(true)     //Display pie labels
    .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
    .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
    .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
    .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
    ;

  d3.select("#chart2 svg")
      .datum(
        [
           {% for t in res %}
            {
              "label":"{{ t.date }}",
              "value": {{ t.packetDataKb }}

            },
            {% endfor %}
        ])
      .transition().duration(350)
      .call(chart);

  return chart;
  });
  </script>
{% endblock %}


</body>
